---
import DefaultLayout from '~/layouts/DefaultLayout.astro';
---

<DefaultLayout class='bg-black h-screen flex justify-center items-center text-white p-4'>
	<main class='max-w-lg'>
		<h1 class='text-2xl font-bold'>👀 404</h1>
		<p>Nothingness</p>
	</main>
</DefaultLayout>
