---
import type { HTMLAttributes } from 'astro/types';

import Link from '~/components/Link.astro';

export type Props = Omit<HTMLAttributes<'h3'>, 'class:list'>;

const { class: className, id, ...props } = Astro.props;
---

<h3 id={id} class:list={['mb-4 mt-8 scroll-m-16 font-optician text-3xl', className]} {...props}>
  <Link
    aria-hidden='true'
    href={`${Astro.url.pathname}#${id}`}
    class='select-none text-green-500 hover:text-green-400'
  >
    [#]
  </Link>
  <slot />
</h3>
