---
import { slug } from 'github-slugger';

import Link from '~/components/Link.astro';

export type Props = { lang?: string, title?: string };

const title = Astro.props.title
  ? Astro.props.title
  : `${Math.floor(Math.random() * 1000000)}.${Astro.props.lang ?? 'txt'}`;

const titleSlug = slug(title, false);

// TODO: Interactive combo display or something???...
// <script>
//   type Buttons = [HTMLButtonElement, HTMLButtonElement, HTMLButtonElement];

//   for (const figure of document.body.querySelectorAll('.code' as 'figure')) {
//     const figcaption = figure.children[0] as HTMLElement;
//     const container = figcaption.children[1] as HTMLDivElement;
//     for (const button of container.children as any as Buttons)
//       button.addEventListener('click', () => console.log('button'));
//   }
// </script>
---

<figure
  id={titleSlug}
  class='my-4 flex scroll-m-20 flex-col rounded-lg border-[1px] border-neutral-400'
>
  <figcaption class='flex min-w-0 flex-nowrap justify-between border-b-[1px] border-neutral-400'>
    <Link
      aria-hidden='true'
      href={`#${titleSlug}`}
      class='flex items-center justify-center border-r-[1px] border-neutral-400 px-2 font-optician text-xl text-green-400 hover:text-green-500 select-none'
    >
      [#]
    </Link>
    <span class='invisible flex flex-1 items-center justify-center overflow-clip border-b-2 border-white px-4 font-mono text-sm font-bold 2xs:visible'>
      {title}
    </span>
    <div class='flex flex-nowrap gap-2 border-l-[1px] border-neutral-400 p-2'>
      <button aria-hidden='true' tabindex='-1' class='aspect-square h-4 rounded-full bg-orange-400 hover:bg-orange-500' />
      <button aria-hidden='true' tabindex='-1' class='aspect-square h-4 rounded-full bg-green-400 hover:bg-green-500' />
      <button aria-hidden='true' tabindex='-1' class='aspect-square h-4 rounded-full bg-rose-400 hover:bg-rose-500' />
    </div>
  </figcaption>
  <pre class='overflow-x-auto p-2 text-xs scrollbar md:p-4 md:text-sm'><slot /></pre>
</figure>
