---
import type { HTMLAttributes } from 'astro/types';

import NoScript from './NoScript.astro';

export type Props = HTMLAttributes<'body'> & { children: any };
---

<body {...Astro.props}>
  <slot />
  <NoScript />
</body>
