---
import { SvgJesus } from '~/svg';

const year = new Date().getFullYear();
---

<noscript class='flex flex-col bg-white divide-black divide-y-4 max-w-lg mx-auto text-xl font-semibold'>
  <p class='text-center p-3'>
    Most people rejected His message...
  </p>
  <SvgJesus />
  <p class='text-center p-3'>
    They hated Jesus because He told them the Truth
  </p>
  <div class='flex flex-nowrap divide-x-4 divide-black text-base'>
    <span class='flex-1 p-1 flex justify-center items-center text-center'>{year} © Jørgen&nbsp;Tau</span>
    <a
      class='flex-1 p-1 flex justify-center items-center text-center text-blue-500 hover:text-blue-700'
      href='https://github.com/yohgen/is-online'
      target='_blank'
      rel='noopener noreferrer'
    >
      Source
    </a>
    <a
      class='flex-1 whitespace-nowrap p-1 flex justify-center items-center text-center text-blue-500 hover:text-blue-700'
      href='https://en.wikisource.org/wiki/Bible_(King_James)/Galatians#4:16'
      target='_blank'
      rel='noopener noreferrer'
    >
      Gal. 4:16
    </a>
  </div>
</noscript>
