@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;400&display=swap');

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

html {
  --bgColor: #101010;
  --fgColor: #fff;
}

html[class='light'] {
  --bgColor: #f0f0f0;
  --fgColor: #000;
}

body {
  font-family: 'IBM Plex Sans';
  background-color: var(--bgColor);
}

.dossier {
  max-width: 30rem;
  width: 100%;
  padding: 1.5rem;
  overflow: auto;
  min-height: 10rem;
  border: 3px solid var(--fgColor);
  overflow: visible;
  margin: 10% auto;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 2%;
}

.salute {
  display: flex;
  color: var(--fgColor);
}

.salute h1 {
  color: var(--fgColor);
}

.bio {
  display: flex;
  margin-bottom: 2%;
}

.bio p {
  color: var(--fgColor);
}

.tech {
  display: flex;
  margin-bottom: 2%;
  color: var(--fgColor);
  flex-direction: column;
}

.craft {
  display: flex;
  margin-bottom: 2%;
}

.craft h3 {
  color: var(--fgColor);
}

.techBoxes {
  display: flex;
  margin-bottom: 2%;
  color: var(--fgColor);
  flex-direction: column;
}

.front-end {
  display: flex;
  margin: 0px;
  flex-direction: row;
}

.back-end {
  display: flex;
  margin: 0px;
  flex-direction: row;
}

.one-box {
  height: 3.5rem;
  width: 3.5rem;
}

.one-box .percent {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3.5rem;
  width: 3.5rem;
  background-color: var(--bgColor);
  border: 1px solid var(--fgColor);
}

.one-box .logo {
  z-index: 1;
  top: -3.5rem;
  position: relative;
  display: flex;
  height: 3.5rem;
  width: 3.5rem;
  justify-content: center;
  align-items: center;
  transition: top 0.3s;
  background-color: var(--bgColor);
  border: 1px solid var(--fgColor);
  overflow: visible;
  font-size: 2rem;
}

.front-end .one-box:hover .logo {
  top: -7rem;
}

.back-end .one-box:hover .logo {
  top: 0rem;
}

.contacts {
  display: flex;
  margin-bottom: 2%;
  color: var(--fgColor);
}

@media screen and (max-width: 650px) {
  .dossier {
    border: none;
    box-shadow: none;
  }
}
