@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;400&display=swap');

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

html {
  --bgColor: #101010;
  --bgColorSec: #000;
  --fgColor: #fff;
  --fgColorSec: #7f7f7f;
  font-size: 18px;
}

html[class='light'] {
  --bgColor: #e0e0e0;
  --bgColorSec: #bbbbbb;
  --fgColor: #000;
  --fgColorSec: #222222;
}

body {
  font-family: 'IBM Plex Sans';
  background-color: var(--bgColor);
}

h1 {
  font-size: 2rem;
  font-weight: 700;
}

h3 {
  font-size: 1.25rem;
  font-weight: 700;
}

p {
  font-size: 1rem;
  font-weight: 500;
}

.dossier {
  max-width: 30rem;
  width: 100%;
  padding: 1.5rem;
  overflow: auto;
  min-height: 10rem;
  border: 3px solid var(--fgColor);
  overflow: visible;
  margin: 10% auto;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.salute {
  display: flex;
  color: var(--fgColor);
}

.salute h1 {
  color: var(--fgColor);
}

.moon-man {
  display: flex;
  justify-content: center;
  align-items: center;
}

.moon-man button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.25rem;
  outline: none;
  border: 3px solid var(--fgColor);
  border-radius: 10px;
  background-color: var(--bgColor);
  font-size: 1.25rem;
}

.moon-man button:hover {
  background-color: var(--bgColorSec);
  border: 3px solid var(--fgColorSec);
}

.bio {
  margin-bottom: 1rem;
}

.bio p {
  color: var(--fgColor);
}

.tech {
  display: flex;
  margin-bottom: 1rem;
  color: var(--fgColor);
  flex-direction: column;
}

.craft {
  display: flex;
  margin-bottom: 0.5rem;
}

.craft h3 {
  color: var(--fgColor);
}

.techBoxes {
  display: flex;
  margin-bottom: 1rem;
  color: var(--fgColor);
  flex-direction: column;
}

.front-end {
  display: flex;
  margin: 0px;
  flex-direction: row;
  border-left: 1px solid var(--fgColor);
  border-right: 1px solid var(--fgColor);
  border-top: 1px solid var(--fgColor);
}

.back-end {
  display: flex;
  margin: 0px;
  flex-direction: row;
  border-left: 1px solid var(--fgColor);
  border-right: 1px solid var(--fgColor);
  border-bottom: 1px solid var(--fgColor);
}

.one-box {
  height: 3.5rem;
  flex: 1 1 0px;
}

.one-box .percent {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3.5rem;
  background-color: var(--bgColor);
  border: 1px solid var(--fgColor);
}

.one-box .logo {
  z-index: 1000;
  top: -3.5rem;
  position: relative;
  display: flex;
  height: 3.5rem;
  justify-content: center;
  align-items: center;
  transition: top 0.3s;
  background-color: var(--bgColor);
  border: 1px solid var(--fgColor);
  overflow: visible;
  font-size: 2rem;
}

.front-end .one-box:hover .logo {
  top: -7rem;
  outline: 1px solid var(--fgColor);
}

.back-end .one-box:hover .logo {
  top: 0rem;
  outline: 1px solid var(--fgColor);
}

.contacts {
  display: flex;
  margin-bottom: 1rem;
  color: var(--fgColor);
}

.contacts-string h3 {
  display: flex;
  margin-bottom: 1rem;
}

@media screen and (max-width: 650px) {
  .dossier {
    border: none;
    box-shadow: none;
  }
}
