@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;400&display=swap');

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

html {
  --bgColor: #101010;
  --bgColorSec: #000;
  --fgColor: #fff;
  --fgColorSec: #7f7f7f;
  font-size: 18px;
}

html[class='light'] {
  --bgColor: #e0e0e0;
  --bgColorSec: #bbbbbb;
  --fgColor: #000;
  --fgColorSec: #222222;
}

body {
  font-family: 'IBM Plex Sans';
  background-color: var(--bgColor);
}

h1 {
  font-size: 2rem;
  font-weight: 700;
}

h3 {
  font-size: 1.25rem;
  font-weight: 700;
}

p {
  font-size: 1rem;
  font-weight: 500;
}

.card {
  max-width: 30rem;
  width: 100%;
  padding: 1.5rem;
  overflow: auto;
  min-height: 10rem;
  border: 3px solid var(--fgColor);
  overflow: visible;
  margin: 10% auto;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 1rem;
  color: var(--fgColor);
}

.salute {
  display: flex;
}

.moon-man {
  display: flex;
  justify-content: center;
  align-items: center;
}

.moon-man button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.25rem;
  outline: none;
  border: 3px solid var(--fgColor);
  border-radius: 10px;
  background-color: var(--bgColor);
  font-size: 1.25rem;
  height: 2.5rem;
  width: 2.5rem;
}

.moon-man button:hover {
  background-color: var(--bgColorSec);
  border: 3px solid var(--fgColorSec);
}

.bio {
  margin-bottom: 1rem;
}

.bio p {
  color: var(--fgColor);
}

.tech {
  display: flex;
  margin-bottom: 1rem;
  color: var(--fgColor);
  flex-direction: column;
}

.craft {
  display: flex;
  margin-bottom: 0.5rem;
}

.craft h3 {
  color: var(--fgColor);
}

.techBoxes {
  display: flex;
  margin-bottom: 1rem;
  color: var(--fgColor);
  flex-direction: column;
}

.front-end {
  display: flex;
  margin: 0px;
  flex-direction: row;
  border-left: 1px solid var(--fgColor);
  border-right: 1px solid var(--fgColor);
  border-top: 1px solid var(--fgColor);
}

.back-end {
  display: flex;
  margin: 0px;
  flex-direction: row;
  border-left: 1px solid var(--fgColor);
  border-right: 1px solid var(--fgColor);
  border-bottom: 1px solid var(--fgColor);
}

.one-box {
  height: 3.5rem;
  flex: 1 1 0px;
}

.one-box .text {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3.5rem;
  background-color: var(--bgColor);
  border: 1px solid var(--fgColor);
}

.one-box .logo {
  z-index: 1000;
  top: -3.5rem;
  position: relative;
  display: flex;
  height: 3.5rem;
  justify-content: center;
  align-items: center;
  transition: top 0.3s;
  background-color: var(--bgColor);
  border: 1px solid var(--fgColor);
  overflow: visible;
  font-size: 2rem;
}

.front-end .one-box:hover .logo {
  top: -7rem;
  outline: 1px solid var(--fgColor);
}

.back-end .one-box:hover .logo {
  top: 0rem;
  outline: 1px solid var(--fgColor);
}

.contacts {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  color: var(--fgColor);
}

.contacts .contacts-string h3 {
  display: flex;
  margin-bottom: 0.5rem;
}

.contacts .cont-boxes {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.contacts .cont-boxes .cont-box {
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-direction: row;
  height: 2.5rem;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--fgColor);
  border-radius: 10px;
  outline: none;
  box-shadow: 0 0 0 1px var(--fgColor);
  --fgColorParent: var(--fgColor);
  --bgColorParent: var(--bgColor);
}

.contacts .cont-boxes .cont-box:hover {
  border: 1px solid var(--fgColorSec);
  background-color: var(--bgColorSec);
  --fgColorParent: var(--fgColorSec);
  --bgColorParent: var(--bgColorSec);
}

.contacts .cont-boxes .cont-box button {
  display: flex;
  flex-direction: row;
  height: inherit;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: none;
}

.contacts .cont-boxes .cont-box a {
  display: flex;
  flex-direction: row;
  height: inherit;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.contacts .cont-boxes .cont-box .svg-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 1px solid var(--fgColorParent);
}

.contacts .cont-boxes .cont-box .svg-icon svg {
  height: 2.5rem;
  width: 2.5rem;
}

.contacts .cont-boxes .cont-box .svg-icon svg path {
  fill: var(--fgColor);
}

.contacts .cont-boxes .cont-box .link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  border-left: 1px solid var(--fgColorParent);
  font-family: 'IBM Plex Sans';
  font-size: 1rem;
  color: var(--fgColor);
  padding: 0.25rem;
}

.email-form form {
  display: flex;
  flex-direction: column;
}

.email-form label {
  font-size: 1rem;
  color: var(--fgColor);
  margin-bottom: 0.25rem;
}

.email-form input {
  height: 2rem;
  padding: 0.5rem;
  font-size: 1rem;
  margin-bottom: 1rem;
  border: 2px solid var(--bgColor);
  background-color: var(--fgColor);
  border-radius: none;
  outline: none;
  color: var(--bgColor);
}

.email-form input:focus {
  border: 2px solid var(--fgColorSec);
}

.email-form input:focus:invalid {
  border: 2px solid #f80021;
}

.email-form input:valid {
  border: 2px solid #00bef8;
}

.email-form textarea {
  height: 16rem;
  padding: 0.5rem;
  font-size: 1rem;
  margin-bottom: 1rem;
  border: 2px solid var(--bgColor);
  background-color: var(--fgColor);
  border-radius: none;
  outline: none;
  line-height: 1.25rem;
  resize: none;
  color: var(--bgColor);
}

.email-form textarea:focus {
  border: 2px solid var(--fgColorSec);
}

.email-form textarea:focus:invalid {
  border: 2px solid #f80021;
}

.email-form textarea:valid {
  border: 2px solid #00bef8;
}

input::placeholder,
textarea::placeholder {
  color: var(--bgColor);
  opacity: 0.65;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: var(--bgColor);
  opacity: 0.65;
}

input::-moz-placeholder,
textarea::-moz-placeholder {
  color: var(--bgColor);
  opacity: 0.65;
}

input::-ms-input-placeholder,
textarea::-ms-input-placeholder {
  color: var(--bgColor);
  opacity: 0.65;
}

.email-form .bottom-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.email-form .bottom-buttons button {
  border: 2px solid var(--fgColor);
  height: 2.5rem;
  padding: 0.4rem;
  border-radius: 10px;
  background-color: var(--bgColor);
  color: var(--fgColor);
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin: 0px;
  padding: 0px;
  --fgColorParent: var(--fgColor);
  --bgColorParent: var(--bgColor);
}

.email-form .bottom-buttons button:hover {
  border: 2px solid var(--fgColorSec);
  background-color: var(--bgColorSec);
  --fgColorParent: var(--fgColorSec);
  --bgColorParent: var(--bgColorSec);
}

.email-form .bottom-buttons .svg-icon {
  border-right: 1px solid var(--fgColorParent);
  height: 2.5rem;
  width: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.email-form .bottom-buttons .svg-icon svg {
  height: 2.5rem;
  width: 2.5rem;
  fill: var(--fgColor);
}

.email-form .bottom-buttons .link {
  height: 2.5rem;
  padding: 0.5rem;
  border-left: 1px solid var(--fgColorParent);
  display: flex;
  justify-content: center;
  align-items: center;
}

.email-form .bottom-buttons .form-back .svg-icon svg {
  height: 1.5rem;
  width: 1.5rem;
}

.email-form .bottom-buttons .form-back .svg-icon path,
circle {
  stroke: var(--fgColor);
}

@media screen and (max-width: 650px) {
  .card {
    border: none;
  }
}
